*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{



    --primary-background-color: #1B3764;
    --secodary-background-color: #FFCA42;
    --teritary-background-color: #B4C7E7;
    --quarternery-background-color: #fff;
    --fifth-background-color:#F4F8FF;
    
}

