*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{



    --primary-background-color: #1B3764;
    --secodary-background-color: #FFCA42;
    --teritary-background-color: #B4C7E7;
    --quarternery-background-color: #fff;
    --fifth-background-color:#F4F8FF;
    --sixth-background-color:#969AA0;
    
 
    --cardo-font-family : 'Cardo', serif;
    --inter-font-family: 'Inter', sans-serif;
    --poppins-font-family:'Poppins', sans-serif;
    --roboto-font-family: 'Roboto', sans-serif; 
    /* font-family: 'Cardo', serif; */
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */

}

