
/* Navigatin styles starts here  */
.wrapper{

    padding: 1vw 6vw;
    background-color: var(--primary-background-color);
    color: white;
  

}
.bgc-primary{
    background-color: var(--primary-background-color);
}
.paddingWrapper{
    padding: 1vw 6vw;

}
.logo{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 1vw 3vw;
    border: none;
    background-color: var(--secodary-background-color);
    color: var(--primary-background-color);
    font-family: var(--cardo-font-family);
    font-weight: 800;
}
main{
    display: grid;
    
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    gap: 1rem;
    margin: 0 auto;
}

.container {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}
input[type=checkbox]{
    display: none;
}

#icon-bm{
    display: none;
}
#icon-bc{
    display: none;
}

body{

    /* width: 100vw; */
    /* height: 100vh; */
    line-height: 1.2;

}
.styles_body{
    position: absolute;
}
img{
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    
}
.logo h2{
    font-family: var(--inter-font-family);
    margin-left: 1vw;
}
nav  a{
    text-decoration: none;
    color: var(--fifth-background-color);
    padding: 1.3vw;
    font-family: var(--inter-font-family);
}

/* !!!!!!!!!!!!! hero section styles !!!! */
.section1{
    background-color: var(--primary-background-color);

}
.heroSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    /* height: ; */
    /* margin:  auto; */
    width: 100%;
}
.heroImage{
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.underline_readme{
    border-bottom: 3px solid var(--fifth-background-color);
}
.heroImg{
    max-width: 430px;

}
.heroText{
    width: 50%;
   
}
.heroText button{
    padding: 1vw 4vw;
    margin: 1vw 0;
    border-radius: 1vw;
    background-color: var(--secodary-background-color);
}
.heroText a {
    /* text-decoration: none; */
    color: white;
    padding: 1vw;
    border-radius: 1vw;
    
}
.heroHeading{
    font-size: 5vw;
    color: var(--quarternery-background-color);
    font-family: var(--cardo-font-family);
    letter-spacing: -0.08125rem;

    
}
.heroText p{
    font-size: 1.5vw;
    color: var(--teritary-background-color);
    margin: 2vw 0;
}




/* Author styles starts here  */
.authorSection{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}

.authorImage{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.imageBorder{
    position: absolute;
    border: 10px solid var(--secodary-background-color);
  

}

.authorimg{
    /* padding: 1rem; */
    /* width: 100%; */
    /* position: absolute; */
    /* border-right: 15px solid var(--secodary-background-color); */
    /* border-bottom: 15px solid var(--secodary-background-color); */
}
.authorText{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column; 
    /* gap: 2.5vw 0; */
    color: var(--primary-background-color);


}

.authorText h3{
    /* font-size: 3.5vw; */
    text-align: center;
   
    margin: 0;
    padding: 0;

}
.authorText p{
    font-size: 2vw;
    /* text-align: center; */
    
}

.bookPopularity{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bookPublished h2{
    font-family: var(--cardo-font-family
    );
    font-size: 3.5vw;
}

/* .heading_fontsize{
    font-size: 7vw;
} */
.qrcode{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 1.5rem;
    margin-top: 1.5vw;
    background-color: var(--primary-background-color);
    padding: .6rem;
}

.qrtext h4{
    color: var(--secodary-background-color);
    font-size: 2.7vw;
}
/* !!!!!!!!!!!!!!!! Trusted by section styles !!!!!!!!! */
.trustedBy h3{
    text-align: center;
}
.heading_fontsize{
    font-family: var(--cardo-font-family);
    color: var(--primary-background-color);
    margin-bottom: 5vw;
    font-size: 4vw;
}
.companies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 6vw;
    width: 100%;
    flex-basis: 1;

}
.amazon{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    /* width: 25%; */
}
.amazon p{
    text-align: center;
}
.amazon h4{
    margin: 2vw 0;
    font-size: 2vw;
    font-family: var(--cardo-font-family);
    font-weight: bold;
    color: var(--primary-background-color);
}


/* <!-- Get book copy Today section  --> */
.CpBook{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.cpbookText{
    width: 50%;
    line-height: 1.9;
}
.cpbookText h2{
    font-size: 3.5vw;
    font-family: var(--cardo-font-family);
}
.cpbookText p{
 text-align: left;
}
.cpbookText button{
    padding: 1vw 4vw;
    margin: 1vw 0;
    border-radius: 1vw;
    /* background-color: var(--secodary-background-color); */
    background:none;
    border: 1px solid var(--secodary-background-color);
    color: white;
}
.cpbookImage{
    width: 50%;
    display: flex;
}


/* !!!!!!!!!!! Learning Section !!!!!!! */

.LearningSection h2{
    text-align: center;
}
.learnContainer{
    display: flex;
    flex-wrap: wrap;

}
.learningImage{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.learningImage img{
    max-width: calc(100%, 70%);
    /* min-width: 70%; */
    
}
.learningImage a {
    display: flex;
    justify-content: flex-end;
}
.learningContainer{
    
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    padding: 0 1vw;
}
.learnText{
    width: 100%;
   
     padding: 1rem;
     background-color: var(--fifth-background-color);
     gap: 1rem;
}
.roundedtext{
    border-radius: 50%;
    background-color: var(--secodary-background-color);
    padding: 1vw;
    margin:  1vw 0;
    
}
.learnText p{
    margin-top: 1vw;
}

/* !!!!!!!!!! Chapters section styles !!!!! */
.chapters{
    
    background-color: var(--fifth-background-color);
    /* margin: 1rem 0; */
    padding: 1rem .8rem;

}
.Chapters >p ,.trialBtn {
    text-align: center;
}
.trialBtn{
    background-color: var(--secodary-background-color);
    padding: 2vw 6vw;
    color: var(--primary-background-color);
    border: none;
    font-family: var(--cardo-font-family);
    font-weight: bold;
}
.Chapters h3{
    color: var(--primary-background-color);
    font-weight: bolder;
    font-family: var(--cardo-font-family);
    margin: 2vw 0;
    font-size: 1.3rem;
}
.chapters h3{
    letter-spacing: -0.003rem;

}
.Chapters h2,p{
    text-align:left;
    /* margin: 3.5vw 0; */
}
.light_text{
    color: var(--sixth-background-color);
    font-weight: 900;
}
.Chapters button{
    display: flex;
   margin: 0 auto;
   margin-top: 2rem;
   margin-bottom: 1rem;

}
.chaptersContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3vw;
    padding: 1vw;
}

.pages{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
}
/* .dots{
    width: 4rem;
    height: 5rem;
    content: '';
    background-color: var(--secodary-background-color);
    border-radius: 50%;
    color: var(--secodary-background-color);
} */
.pageFirst h4{
    color: var(--primary-background-color);
    font-size: 1rem;
}

.pageFirst h4::before{
    content: '.';
    /* margin: 20px; */
    text-align: center;
    margin: 0 auto;    
    font-size: 3rem;
    color: var(--secodary-background-color);
    padding-right: .2rem ;

}




/* !!!!!!!!!!! Reviews section !!!!!!!!!! */

.reviewContainer{
    /* width: 100%; */
    display: grid;
    /* align-items: center; */
    /* justify-content: center; */

    grid-template-areas: "one two "
                          "one two ";
    gap: 1rem;


}


.personReview{
    display: flex;
}
.person1{
    display: flex;
    gap: 1vw;
    color: white;
    line-height: 1.4;
}
.imageAndName{
    display: flex;
    flex-direction: column;
    padding: 2vw;
}
.image_bt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image_bt h3{
    margin-left: 2vw;
}
.person2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.personOneReview{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}


/* !!!!!!!!!!!! article section !!!!!!!!!!! */
.articleContainer{
    background-color: var(--fifth-background-color);
}
.cardsContainer{
    display: flex;
    flex-basis: 1;
   
}
.card{
    width: 100%;
    padding: 1vw;
    flex-basis: 1;
    flex-grow: 1;
}
.card p{
   text-align: left;
}
.card h3,a{
    color: var(--primary-background-color);
}
.card h4{
    color: var(--primary-background-color);
}

.card h3{
    margin: 1rem 0;
}
.readmore{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.readmore a {
text-align: center;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 1.40625rem */
letter-spacing: 0.0225rem;
border-bottom: 3px solid var(--primary-background-color);
}

/* !!!!!!!!!!!! News letter section for subscribe !!!!!!!!!! */

.bgc-secondary{
    background-color: var(--secodary-background-color);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.bgc-secondary h2{
    text-align: center;
}
.subscribeButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.bgc-secondary p{
    margin: 0 0 2vw;
    text-align: center;
}

.bgc-secondary p{
    color: var(--primary-background-color);
}
.subscribeBtn{
    background-color: var(--primary-background-color);
    color: var(--fifth-background-color);
    padding: .5rem 2rem;
    border: none;
}
.input_news{
    padding: .5rem 2rem;
    /* outline: none; */
    border: none;

}

/* !!!!!!!!!!!!!!Footer styles here !!!!!!!!!! */
.footerContainer .pages>*, .explore>*, .utility_pages>*, .keep_in_touch>*{
    color: var(--fifth-background-color);
}
p{
    color: var(--sixth-background-color);
    font-family: var(--inter-font-family);
    /* font-weight: 700; */
    /* font-size: 4.5vw; */
    
}




/* Footer  section styles  */
.pages>a{
    /* width: 100%; */
    display: flex;
    text-decoration: none;
    align-items: center;
    /* padding: .4rem; */
    
}

a{
    text-decoration: none;
    margin: .2rem 0;
}
.explore{

    display: flex;
    flex-direction: column;
    padding: 1vw 0;
    font-family: var(--cardo-font-family);
    font-size: 1.2rem;
}
.utility_pages{
    display: flex;
    flex-direction: column;
    font-family: var(--cardo-font-family);
    font-size: 1.2rem;


}
.footerSecondSection{
    display: flex;
    /* width: 50%; */
    gap: 10px;
    justify-content: space-between;
    padding: 1rem 0;
}

.threeCenter{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footerSecondSection{
    width: 100%;
}
.keep_in_touch{
    width: 33%;
    width: 100%;
}

.underline {


    border-bottom: 3px solid var(--secodary-background-color);
}

.underline_last{

    border-bottom: 3px solid var(--primary-background-color);
}

@media (max-width:768px){

    /* !!!!!!!!! Navigation menu burger !!!!!!! */
    #menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        /* height: 200px; */
        position: absolute;
        top: 55px;
        left: 0;
        padding: 0;
        /* overflow: hidden; */

    }
/* #icon-bm:hover #menu{
    display: block;
    height: 16rem;
}*/
    #icon-bm{
        font-size: 2.2rem;
        display: block;
        color: white;
    }
    #icon-bc{
        display: none;
        font-size: 2.2rem;


    } 
    
    

    #menu-toggle:checked ~ #menu-icon #icon-bc{
        display: block;
        
        font-size: 2.2rem;
        color: white;
    }

    
    #menu-toggle:checked ~ #menu-icon #icon-bm{
        display: none;
    }
    #menu-toggle:checked ~ #menu-icon + #menu{
        display: flex;
        height: 14rem;
    }

    #menu-icon {
        display: flex;
    
    }

    /* !!!!!!! hero section !!!!!!!!!!!!!! */
     
    .heroSection{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

   
    
    .heroHeading{
        font-size: 3rem;
        text-align: left;
    }
    .heroText{
        width: 100%;
        /* font-stretch: condensed; */
        line-height: 1.5;
        /* padding: 1rem 2rem; */
        text-align: center;

    padding: 2.9rem 0 1rem 0;


        
    
    }
    .heroText button{
        padding: 2vw 5vw;
    }
    /* .heroHeading{
        font-size: 8vw;
    } */
    .heroText p{
        font-size: 1rem;
        text-align: left;
    }
    .heroImage{
        margin: 1.2rem 0;
        width: 100%;
       display: grid;
       grid-template-areas: 'one';
       justify-content: center;
    }
    
    .heroButtons{
           text-align: left;
    }
     

    /* author sections starts here  */
    .authorSection{
        display: flex;
        flex-direction: column;


    }
    .heading_fontsize{
        font-size: 2rem;
        font-weight: 700;
       line-height: 120%; /* 3.375rem */
        letter-spacing: -0.05625rem;
    }
    .authorText h3{
        margin: 1rem;
    }
   
    .authorImage{
        width: 100%;
    }
    
    


    .authorText{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 1.5;
    }
    /* .authorText h3{
        font-size: 5vw;

    } */
    .authorText p{
        font-size: 3.5vw;
    }
    .authorimg img{
    max-width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    }
    .bookPopularity{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
        margin: 1rem 0;
    }
    .bookPublished h2{
        font-size: 1.5rem;
    }
    
.qrtext h4{
    font-size: 1.7rem;
}
    .qrcode{
        display: flex;
        /* width: 100%; */
        justify-content: space-between;
        /* padding: 1vw; */
        gap: 3vw;
        align-items: center;
        
    }
    .qrimage{
         display: flex;
         align-items: center;
         justify-content: flex-start;
    }

/* !!!!!!! Trusted by section !!!!!!! */

.companies{
    gap: 2.8rem;
}
.amazon h4{
    font-size: 1.5rem;
    margin: 1rem 0;
}

    /* !!!!!!Get copy books section !! */
    .cpbookText{
        width: 100%;
        line-height: 1.6;
    }
   .cpbookImage{
    width: 100%;
   }
    .CpBook{
        display: flex;
        flex-direction: column;
    }
    
   .cpbookText h2{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;

   }
   


    /* !!!!!!!! Learning Section !!!!!! */

    

    .learningImage img{
        width: 100%;
        
    }

 
.learningContainer{
    /* display: grid; */
    /* grid-column: 1/3; */
    
    width: 100%;
}
.learningImage{
    width: 100%;
    /* grid-column: 1/3; */
    padding: 5vw;
}

/* !!!!!!!!!! Chapters section !!!!! */
.chaptersContainer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1.5rem;
}

.pageFirst h4{
    color: var(--primary-background-color);
    font-size: .8rem;
}

.pageFirst h4::before{
    content: '.';
    /* margin: 20px; */
    text-align: center;
    margin: 0 auto;    
    font-size: 3rem;
    color: var(--secodary-background-color);
    padding-right: .2rem ;

}




/* !!!!!!!!Review section starts here !!!!!!!! */

.reviewContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
}

.reviewTitle{
    width: 100%;
}
.personReview{
   display: flex;
    width: 100%;
}
.person1{
    display: grid;

}
.image_bt {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    
}

.reviewTitle h2{
    margin-top: 1rem;
}

/* !!!!!!!!!Article section styles !!!!!!!! */
.cardsContainer{
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr); */
    display: grid;
    grid-template-areas: 
     "one"
     "two"
     "three";
}
.card h3{
color: var(--primary-background-color);
font-family: var(--cardo-font-family);
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 1.8rem */
letter-spacing: -0.03rem;
}




/* Footer section styles 
 */

 .footerContainer{
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
 }

 
.explore{

    display: flex;
    flex-direction: column;
    padding: 1vw 0;
    font-family: var(--cardo-font-family);
    font-size: 1.2rem;
}
.utility_pages{
    display: flex;
    flex-direction: column;
    font-family: var(--cardo-font-family);
    font-size: 1.2rem;


}
.threeCenter{
    display: flex;
    flex-direction: column;
}
.footerSecondSection{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 1rem 0;
}



}